<div class="input-group">
    <span class="input-group-btn">
        <button
            (click)="changeValue(-5)"
            [class]="'btn ' + btnClass"
            [disabled]="progress === 0"
            type="button"
        >
            <i class="fa fa-minus"></i>
        </button>
    </span>
    <input
        (ngModelChange)="onChange($event)"
        [(ngModel)]="progress"
        type="number"
        class="form-control"
        [ngClass]="{ 'is-invalid': progress > 100 || progress < 0 }"
        placeholder="Product name"
    />
    <span class="input-group-btn">
        <button
            (click)="changeValue(5)"
            [ngClass]="'btn ' + btnClass"
            [disabled]="progress === 100"
            type="button"
        >
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>
